<section>
    <div class="region-container">
        <% if (isAll) { %>
            <p>#<%= city %> #<%= town %></p>
        <% } %>
    </div>
    <div class="ys-list">
        <% restaurants.forEach((restaurant) => { %>
            <div class="restaurant-container">
                <div class="restaurant-name">
                    <a href="https://map.naver.com/v5/search/<%= restaurants.map(row => row.town)[0] %> <%= restaurant.name %>"><strong><%= restaurant.name %></strong></a>
                </div>

                <a onclick="alert('냠! 아주 좋아요!')">
                    <div class="yum-btn">냠</div>
                </a>
                <div class="restaurant-type"><%= restaurant.type_detail %></div>
                <div class="restaurant-phoneNum"><%= restaurant.telephone %></div>
                <div class="restaurant-addr"><a
                            href="https://map.naver.com/v5/search/<%= restaurant.address %>"><%= restaurant.address %></a>
                </div>
                <a onclick="alert('서비스 준비 중입니다!')">
                    <div class="restaurant-review">후기</div>
                </a>
            </div>
        <% }); %>
    </div>
</section>

<div class="page_wrap">
    <div class="page_nation">
        <a class="arrow" href="#"><i class="fas fa-angle-double-left"></i></a>
        <a class="arrow" href="#"><i class="fas fa-angle-left"></i></a>
        <% const pivot = parseInt(offset / 100); %>
        <% Array.from({ length: total / 10 }, (_, i) => i).filter(i => pivot * 10 <= i && i < (pivot + 1) * 10).map(i => { %>
            <a href="/?offset=<%= i %>"
               class="<%= i === parseInt(offset / 10) ? 'active' : '' %>">
                <%= i + 1 %>
            </a>
        <% }); %>
        <a class="arrow" href="#"><i class="fas fa-angle-right"></i></a>
        <a class="arrow" href="#"><i class="fas fa-angle-double-right"></i></a>
    </div>
</div>
