<main>
    <section>
        <div class="menu-name">
            지역 선택
        </div>

        <div class="sidenav">
            <% restaurants.forEach((i) => { %>
                <button class="dropdown-btn">
                    <%= i.city %>
                    <i class="fa fa-caret-down"></i>
                </button>

                <div class="dropdown-container">
                    <% i.town.forEach((j) => { %>
                        <a href="/index?city=<%= i.city %>&town=<%= j%>&offset=<%=0%>"> <%= j %> </a>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </section>
</main>

